{% extends 'base.html.twig' %}

{% block title %}Empleado index{% endblock %}

{% block body %}
    <h1>Empleado index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
                <th>Dni</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.puesto.nombre }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.dni }}</td>
                <td>{{ empleado.email }}</td>
                <td>
                    <a href="{{ path('app_empleado_show', {'id': empleado.id}) }}">show</a>
                    <a href="{{ path('app_empleado_edit', {'id': empleado.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_empleado_new') }}">Create new</a>
{% endblock %}
