{% extends 'base.html.twig' %}

{% block title %}Mascota{% endblock %}

{% block body %}
    <h1>Mascota</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mascotum.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ mascotum.nombre }}</td>
            </tr>
            <tr>
                <th>FechaNac</th>
                <td>{{ mascotum.fechaNac ? mascotum.fechaNac|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mascota_index') }}">back to list</a>

    <a href="{{ path('app_mascota_edit', {'id': mascotum.id}) }}">edit</a>

    {{ include('mascota/_delete_form.html.twig') }}
{% endblock %}
