{% extends 'base.html.twig' %}

{% block title %}Beca{% endblock %}

{% block body %}
    <h1>Beca</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ beca.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ beca.descripcion }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ beca.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_beca_index') }}">back to list</a>

    <a href="{{ path('app_beca_edit', {'id': beca.id}) }}">edit</a>
    <a href="{{ path('listar_solicitante', {'id': beca.id}) }}">Ver solicitantes</a>

    {{ include('beca/_delete_form.html.twig') }}


    
{% endblock %}
