{% extends 'base.html.twig' %}

{% block title %}Puesto index{% endblock %}

{% block body %}
    <h1>Puesto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sueldo</th>
                <th>Observaciones</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for puesto in puestos %}
            <tr>
                <td>{{ puesto.id }}</td>
                <td>{{ puesto.nombre }}</td>
                <td>{{ puesto.sueldo }}</td>
                <td>{{ puesto.observaciones }}</td>
                <td>
                    <a href="{{ path('app_puesto_show', {'id': puesto.id}) }}">show</a>
                    <a href="{{ path('app_puesto_edit', {'id': puesto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_puesto_new') }}">Create new</a>
{% endblock %}
