{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cliente.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ cliente.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cliente.telefono }}</td>
            </tr>
            <tr>
                <th>FechaAlta</th>
                <td>{{ cliente.fechaAlta ? cliente.fechaAlta|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cliente_index') }}">back to list</a>

    <a href="{{ path('app_cliente_edit', {'id': cliente.id}) }}">edit</a>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
